[class^="icon"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.icon-un {
  background-image: url($images + "/logo-un.png");
  width: 69px;
  height: 58px;
}

.icon-calendar {
  background-image: url($icons + "/calendar.svg");
  width: 15px;
  height: 15px;
}
