.link {
  font-size: 14px;
  line-height: 18px;
  color: $light-gray;
  transition: color 0.3s ease-out;

  &:hover {
    color: $blue;
  }

  &--blue {
    color: $blue;

    &:hover {
      color: $white;
    }
  }
}
