.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: $lg) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: $md) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: $sm) {
  .container {
    max-width: 540px;
  }
}
