{% block content %}
  <div class="article article-accordeon">
<!--    <h1 class="article__title headline-1">ПРАВОВАЯ ИНФОРМАЦИЯ</h1>-->
    <div class="article__description">
      <p>
        {{widget.text|safe}}
      </p>
    </div>
    <div class="article-accordeon__content">
      <ul>
        {% for q in faq %}
          <li class="accordeon-item">
          <p class="accordeon-item__title headline-3">
            {{ q.title }}
          </p>
          <ul class="accordeon-item__links">
            {% for article in q.faqlist_set.all %}
            <li class="accordeon-item__link">
              <p class="accordeon-item__link__title">
                {{ article.title }}
              </p>
              <div class="accordeon-item__link__content">
                <p>
                  {{ article.text |safe}}
                </p>
  <!--              <p>-->
  <!--                2. Нахождение на рабочем месте в рабочее время в-->
  <!--                состоянии алкогольного, наркотического или-->
  <!--                токсикоманического опьянения – влечет наложение-->
  <!--                штрафа в размере от одной до десяти базовых величин.-->
  <!--              </p>-->
  <!--              <p>-->
  <!--                3. Действия, предусмотренные частями 1 и 2 настоящей-->
  <!--                статьи, совершенные повторно в течение одного года-->
  <!--                после наложения административного взыскания за такие-->
  <!--                же нарушения, – влекут наложение штрафа в размере от-->
  <!--                двух до пятнадцати базовых величин или-->
  <!--                административный арест.-->
  <!--              </p>-->
              </div>
            </li>
            {% endfor %}
  <!--          <li class="accordeon-item__link">-->
  <!--            <p class="accordeon-item__link__title">-->
  <!--              Статья 17.3. Распитие алкогольных, слабоалкогольных-->
  <!--              напитков или пива, потребление наркотических средств-->
  <!--              или психотропных веществ, их аналогов в общественном-->
  <!--              месте либо появление в общественном месте или на-->
  <!--              работе в состоянии опьянения-->
  <!--            </p>-->
  <!--            <div class="accordeon-item__link__content">-->
  <!--              <p>-->
  <!--                Распитие алкогольных, слабоалкогольных напитков или-->
  <!--                пива на улице, стадионе, в сквере, парке,-->
  <!--                общественном транспорте или в других общественных-->
  <!--                местах, кроме мест, предназначенных для употребления-->
  <!--                алкогольных, слабоалкогольных напитков или пива,-->
  <!--                либо появление в общественном месте в пьяном виде,-->
  <!--                оскорбляющем человеческое достоинство и-->
  <!--                нравственность, либо потребление в общественном-->
  <!--                месте наркотических средств или психотропных веществ-->
  <!--                без назначения врача, либо потребление в-->
  <!--                общественном месте аналогов наркотических средств-->
  <!--                или психотропных веществ – влекут наложение штрафа в-->
  <!--                размере до восьми базовых величин.-->
  <!--              </p>-->
  <!--            </div>-->
  <!--          </li>-->
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="article__buttons">
      {% for link in widget.link.all %}
        <a href="{{link.link}}" class="btn" target="{{link.target}}"
          ><span>{{link.title}}</span></a
        >
      {% endfor %}
    </div>
  </div>
{% endblock %}