<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <link
      type="text/css"
      href="/static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>

  <body>
    <section class="single-news">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="single-news__container">
              <h1 class="single-news__title">
                Основополагающие принципы в выздоровлении от наркомании и
                алкоголизма
              </h1>
              <div class="single-news__content">
                <p class="single-news__data">28-08-2020</p>
                <div class="single-news__content__description">
                  <p>
                    {% block content %}
                      {% for content in feincms_page.content.main %}
                        {{ content.render }}
                      {% endfor %}
                    {% endblock %}
                  </p>
                </div>
                {% if feincms_page.source %}
                  <div class="single-news__source">
                    <p>Источник:</p>
                    <a class="" href="{{ feincms_page.source }}">{{ feincms_page.source }}</a>
                  </div>
                {% endif %}
              </div>
              <a class="single-news__button link link--blue" href="#"
                >Назад ко всем новостям</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

