.accordeon-item {
  $self: &;
  overflow: hidden;
  transition: max-height 0.5s;

  &__title {
    cursor: pointer;
    text-transform: uppercase;
    display: inline-flex;
    position: relative;
    letter-spacing: 0.015em;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -20px;
      color: $green;
      width: 15px;
      height: 10px;
      background-image: url($icons + "/arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: rotate(0deg) translateY(-50%);
      transition: transform 0.5s;
    }
  }

  &--active {
    max-height: max-content;

    #{$self}__link {
    }

    #{$self}__title {
      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    #{$self}__links {
      max-height: 5000px;
    }
  }

  &__links {
    transition: all 0.5s;
    margin-left: 15px;
    max-height: 0;
  }

  &__link {
    transition: height 0.5s;
    margin-top: 20px;

    &:first-child {
      margin-top: 10px;
    }

    &--active {
      #{$self}__link__content {
        max-height: 500px;
      }
    }

    &__title {
      cursor: pointer;
      color: $green;
      display: inline;
      border-bottom: 1px solid transparent;
      transition: all 0.3s;
      position: relative;
      font-size: 14px;

      &:hover {
        border-color: inherit;
      }

      &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: -11px;
        width: 4px;
        height: 4px;
        background-color: $green;
        border-radius: 50%;
      }
    }

    &__content {
      max-height: 0;
      transition: all 0.5s;
      overflow: hidden;

      p {
        margin: 15px 0;
        font-size: 14px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
