<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- {% load compress %}-->

    <!-- {% compress css %}-->
    <!--        <link type="text/x-scss" href="/static/styles/index.scss" rel="stylesheet" media="screen">-->
    <!--    {% endcompress %}-->

    <link
      type="text/css"
      href="/static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>

  <body>
    {% block header_links %} {% endblock %}

    <section class="main">
      <div class="container">
        <div class="row">
          {% block side_bar %} {% endblock %}

          {% block content %} {% endblock %}

          {% block organizations %} {% endblock %}

          {% block footer %} {% endblock %}
        </div>
      </div>
    </section>
  </body>
</html>
