<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    {% load compress %}

<!--    {% compress css %}-->
<!--        <link type="text/x-scss" href="/static/styles/index.scss" rel="stylesheet" media="screen">-->
<!--    {% endcompress %}-->

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>
    <body>
    <header class="header">
      <div class="container">
        <div class="header__content">
          <div class="header__content__nav">
            <nav class="main-menu">
              <ul class="main-menu__links">
                <li>
                  <a class="link" href="#help"
                    ><span>Первая медицинская помощь</span></a
                  >
                </li>

                <li>
                  <a class="link" href="https://abuse.pomogut.by/relapse"
                    ><span>Срыв</span></a
                  >
                </li>

                <li>
                  <a class="link" href="https://abuse.pomogut.by/hiv-hepatitis"
                    ><span>ВИЧ и гепатит</span></a
                  >
                </li>

                <li>
                  <a class="link" href="https://abuse.pomogut.by/legal-info"
                    ><span> Правовая информация</span></a
                  >
                </li>

                <li>
                  <a class="link" href=" https://abuse.pomogut.by/news"
                    ><span>Новости</span></a
                  >
                </li>
              </ul>
            </nav>

            <nav class="main-menu">
              <ul class="main-menu__navigation">
                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/org/"
                    ><span>Где найти помощь</span></a
                  >
                </li>

                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/i-am-codependent/"
                    ><span>Мой близкий в проблеме</span></a
                  >
                </li>

                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/depend/"
                    ><span>Я употребляю</span></a
                  >
                </li>

                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/i-am-on-remission/"
                    ><span>Я на ремиссии</span></a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <button class="header__button" type="button"><span></span></button>
      </div>
    </header>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
              <div class="side-menu">
                <div class="side-menu__content">
                    <div class="side-menu__links side-menu__links--main">
                      <a class="link link--medium-blue" href="#help"><p>Первая помощь</p></a>
                      <a class="link link--medium-blue" href="http://pomogut.by/hiv-hepatitis/"><p>Вич и гепатит</p></a>
                      <a class="link link--medium-blue" href="http://pomogut.by/filling-page"><p>Срыв</p></a>
                    </div>
                    <div class="side-menu__links">
                      <a class="link link--green" href="#codependent"><p>Ваш ребенок в проблеме</p></a>
										  <a class="link link--green" href="#narc_ill"><p>Ваш ребенок ведет себя странно</p></a>
                      <a class="link link--green" href="#harm-reduction"><p>Устали от наркотиков</p></a>
                    </div>
                </div>
              </div>
          </div>
        </div>

        <div id="content">
          {% block content %}
            {% for content in feincms_page.content.main %}
              {{ content.render }}
            {% endfor %}
          {% endblock %}
        </div>

          <div class="col-lg-3">
              <div class="information-side">
                  <div class="information-block">
                    <h1 class="information-block__title headline-1">Анкеты</h1>
                    <div class="information-block__text">
                      <p><strong>ОРГАНИЗОВАНЫ ОЧНЫЕ КОНСУЛЬТАЦИИ</strong></p>
                      <p>Начиная с марта 2019 года можно получить непосредственную консультацию специалистов РОО «Матери против наркотиков», РЦ «Феникс», МФ «Центр здоровой молодежи» по адресу <strong>г.Минск, ул.Чеботарева, 6а </strong>по предварительной записи.</p>
                      <p>Запись на консультацию производится по телефону <strong>+375 17 311 00 00</strong></p>
                    </div>
                    <div class="information-block__image aspect-ratio">
                      <img  src="https://via.placeholder.com/1140x764"></img>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container footer__container">
        <a class="footer__phone" href="tel:+375173110000">+ 375 17 311 00 00</a>
        <nav class="main-menu footer__menu">
          <ul class="main-menu__links footer__menu__links">
            <li>
              <a class="link" href="https://abuse.pomogut.by/about/"
                ><span>О проекте</span></a
              >
            </li>

            <li>
              <a class="link" href="https://abuse.pomogut.by/to-partners/"
                ><span>Стать партнером</span></a
              >
            </li>
          </ul>
        </nav>
        <a class="footer__logo" href="http://www.unodc.org/" target="_blank"
          ><i class="icon-un"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
