<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- {% load compress %}

    {% compress css %}
        <link type="text/x-scss" href="/static/styles/index.scss" rel="stylesheet" media="screen">
    {% endcompress %} -->

    <link type="text/css" href="../static/styles/index.min.css" rel="stylesheet" media="screen">

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header__content">
          <div class="header__content__nav">
            <nav class="main-menu">
              <ul class="main-menu__links">
                <li>
                  <a class="link" href="#help"
                    ><span>Первая медицинская помощь</span></a
                  >
                </li>

                <li>
                  <a class="link" href="https://abuse.pomogut.by/relapse"
                    ><span>Срыв</span></a
                  >
                </li>

                <li>
                  <a class="link" href="https://abuse.pomogut.by/hiv-hepatitis"
                    ><span>ВИЧ и гепатит</span></a
                  >
                </li>

                <li>
                  <a class="link" href="https://abuse.pomogut.by/legal-info"
                    ><span> Правовая информация</span></a
                  >
                </li>

                <li>
                  <a class="link" href=" https://abuse.pomogut.by/news"
                    ><span>Новости</span></a
                  >
                </li>
              </ul>
            </nav>

            <nav class="main-menu">
              <ul class="main-menu__navigation">
                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/org/"
                    ><span>Где найти помощь</span></a
                  >
                </li>

                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/i-am-codependent/"
                    ><span>Мой близкий в проблеме</span></a
                  >
                </li>

                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/depend/"
                    ><span>Я употребляю</span></a
                  >
                </li>

                <li>
                  <a
                    class="link link--blue"
                    href="https://abuse.pomogut.by/i-am-on-remission/"
                    ><span>Я на ремиссии</span></a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <button class="header__button" type="button"><span></span></button>
      </div>
    </header>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
              <div class="side-menu">
                <div class="side-menu__content">
                    <div class="side-menu__links side-menu__links--main">
                      <a class="link link--medium-blue" href="#help"><p>Первая помощь</p></a>
                      <a class="link link--medium-blue" href="http://pomogut.by/hiv-hepatitis/"><p>Вич и гепатит</p></a>
                      <a class="link link--medium-blue" href="http://pomogut.by/filling-page"><p>Срыв</p></a>
                    </div>
                    <div class="side-menu__links">
                      <a class="link link--green" href="#codependent"><p>Ваш ребенок в проблеме</p></a>
										  <a class="link link--green" href="#narc_ill"><p>Ваш ребенок ведет себя странно</p></a>
                      <a class="link link--green" href="#harm-reduction"><p>Устали от наркотиков</p></a>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="article">
                <h1 class="article__title headline-1">Я - созависимый</h1>
                <div class="article__image-wrapper aspect-ratio">
                    <img src="https://via.placeholder.com/1140x764" alt=""></img>          
                </div>
                <div class="article__description">
                  <p> получить помощь и поддержку самим близким, <a href="/advice/">научится правильно себя вести</a> и начать выздоравливать самим от созависимости. </p>
                  <p></p>
                </div>
                <ul class="article__list"><li>Обменять использованные шприцы и иглы на новые</li><li>Получить презервативы, спиртовые салфетки, дезинфицирующие средства</li><li>Проконсультироваться по медицинским и психологическим вопросам</li><li>Пройти экспресс-тестирование на ВИЧ и вирусные гепатиты В и С</li><li>Получить информацию о дополнительных услугах и контакты других сервисов и служб, помогающих ПИН</li></ul>
                <div class="article__buttons article__buttons--center">
                  <a href="#" class="btn" target="_blank"><span>Найти ближайшую организацию</span></a>
                  <a href="#" class="btn"><span>Правовая информация</span></a>
                </div>
                  <div class="article__buttons">
                    <a href="#" class="btn"><span>Найти ближайшую организацию</span></a>
                    <a href="#" class="btn"><span>Правовая информация</span></a>
                  </div>
              </div>
              <div class="article article-accordeon">
                <h1 class="article__title headline-1">ПРАВОВАЯ ИНФОРМАЦИЯ</h1>
                <p class="article__description">Наркопотребитель в первую очередь человек. И как у любого человека у него есть свои права, данные ему при рождении. Однако надо помнить, что незаконный оборот наркотиков попадает под правовое поле Республики Беларусь и является уголовно наказуемым. Правовая информация на нашем сайте поможет тебе комфортно и полноценно жить нашем обществе</p>
                <div class="article-accordeon__content">
                  <ul>
                    <li class="accordeon-item">
                      <p class="accordeon-item__title headline-3">АДМИНИСТРАТИВНЫЙ КОДЕКС РЕСПУБЛИКИ БЕЛАРУСЬ</p>
                      <ul class="accordeon-item__links">
                        <li class="accordeon-item__link">
                          <p class="accordeon-item__link__title">Статья 17.3. Распитие алкогольных, слабоалкогольных напитков или пива, потребление наркотических средств или психотропных веществ, их аналогов в общественном месте либо появление в общественном месте или на работе в состоянии опьянения</p>
                          <div class="accordeon-item__link__content">
                              <p>1. Распитие алкогольных, слабоалкогольных напитков или пива на улице, стадионе, в сквере, парке, общественном транспорте или в других общественных местах, кроме мест, предназначенных для употребления алкогольных, слабоалкогольных напитков или пива, либо появление в общественном месте в пьяном виде, оскорбляющем человеческое достоинство и нравственность, либо потребление в общественном месте наркотических средств или психотропных веществ без назначения врача, либо потребление в общественном месте аналогов наркотических средств или психотропных веществ –
                                влекут наложение штрафа в размере до восьми базовых величин.</p>
                              <p>2. Нахождение на рабочем месте в рабочее время в состоянии алкогольного, наркотического или токсикоманического опьянения – влечет наложение штрафа в размере от одной до десяти базовых величин.</p>
                              <p>3. Действия, предусмотренные частями 1 и 2 настоящей статьи, совершенные повторно в течение одного года после наложения административного взыскания за такие же нарушения, – влекут наложение штрафа в размере от двух до пятнадцати базовых величин или административный арест.</p>
                          </div>
                        </li>
                        <li class="accordeon-item__link">
                          <p class="accordeon-item__link__title">Статья 17.3. Распитие алкогольных, слабоалкогольных напитков или пива, потребление наркотических средств или психотропных веществ, их аналогов в общественном месте либо появление в общественном месте или на работе в состоянии опьянения</p>
                          <div class="accordeon-item__link__content">
                              <p>Распитие алкогольных, слабоалкогольных напитков или пива на улице, стадионе, в сквере, парке, общественном транспорте или в других общественных местах, кроме мест, предназначенных для употребления алкогольных, слабоалкогольных напитков или пива, либо появление в общественном месте в пьяном виде, оскорбляющем человеческое достоинство и нравственность, либо потребление в общественном месте наркотических средств или психотропных веществ без назначения врача, либо потребление в общественном месте аналогов наркотических средств или психотропных веществ –
                                влекут наложение штрафа в размере до восьми базовых величин.</p>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="accordeon-item">
                      <p class="accordeon-item__title headline-3">АДМИНИСТРАТИВНЫЙ КОДЕКС РЕСПУБЛИКИ БЕЛАРУСЬ</p>
                      <ul class="accordeon-item__links">
                        <li class="accordeon-item__link">
                          <p class="accordeon-item__link__title">Статья 17.3. Распитие алкогольных, слабоалкогольных напитков или пива, потребление наркотических средств или психотропных веществ, их аналогов в общественном месте либо появление в общественном месте или на работе в состоянии опьянения</p>
                          <div class="accordeon-item__link__content">
                              <p>1. Распитие алкогольных, слабоалкогольных напитков или пива на улице, стадионе, в сквере, парке, общественном транспорте или в других общественных местах, кроме мест, предназначенных для употребления алкогольных, слабоалкогольных напитков или пива, либо появление в общественном месте в пьяном виде, оскорбляющем человеческое достоинство и нравственность, либо потребление в общественном месте наркотических средств или психотропных веществ без назначения врача, либо потребление в общественном месте аналогов наркотических средств или психотропных веществ –
                                влекут наложение штрафа в размере до восьми базовых величин.</p>
                              <p>2. Нахождение на рабочем месте в рабочее время в состоянии алкогольного, наркотического или токсикоманического опьянения – влечет наложение штрафа в размере от одной до десяти базовых величин.</p>
                              <p>3. Действия, предусмотренные частями 1 и 2 настоящей статьи, совершенные повторно в течение одного года после наложения административного взыскания за такие же нарушения, – влекут наложение штрафа в размере от двух до пятнадцати базовых величин или административный арест.</p>
                          </div>
                        </li>
                        <li class="accordeon-item__link">
                          <p class="accordeon-item__link__title">Статья 17.3. Распитие алкогольных, слабоалкогольных напитков или пива, потребление наркотических средств или психотропных веществ, их аналогов в общественном месте либо появление в общественном месте или на работе в состоянии опьянения</p>
                          <div class="accordeon-item__link__content">
                              <p>Распитие алкогольных, слабоалкогольных напитков или пива на улице, стадионе, в сквере, парке, общественном транспорте или в других общественных местах, кроме мест, предназначенных для употребления алкогольных, слабоалкогольных напитков или пива, либо появление в общественном месте в пьяном виде, оскорбляющем человеческое достоинство и нравственность, либо потребление в общественном месте наркотических средств или психотропных веществ без назначения врача, либо потребление в общественном месте аналогов наркотических средств или психотропных веществ –
                                влекут наложение штрафа в размере до восьми базовых величин.</p>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="article__buttons">
                  <a href="#" class="btn"><span>Найти ближайшую организацию</span></a>
                  <a href="#" class="btn"><span>Правовая информация</span></a>
                </div>
              </div>
              <div class="article article-health">
                <h1 class="article__title headline-1">ЗДОРОВЬЕ</h1>
                <ul class="article-health__content">
                  <li class="health-item">
                    <p class="health-item__title headline-3">ТРАМАДОЛ, МОРФИН, КОДЕИН, ГЕРОИН, МЕТАДОН – ПРИРОДНЫЕ НАРКОТИКИ, ПОЛУЧЕННЫЕ ИЗ МАКА/ХИМИЧЕСКИЕ СОЕДИНЕНИЯ:</p>
                    <p class="health-item__description">
							поражение печеночных клеток;
              риск инфицирования ВИЧ и инфарктов;
              заметное снижение интеллекта.                      
                    </p>
                  </li>
                  <li class="health-item">
                    <p class="health-item__title headline-3">ТРАМАДОЛ, МОРФИН, КОДЕИН, ГЕРОИН, МЕТАДОН – ПРИРОДНЫЕ НАРКОТИКИ, ПОЛУЧЕННЫЕ ИЗ МАКА/ХИМИЧЕСКИЕ СОЕДИНЕНИЯ:</p>
                    <p class="health-item__description">
							поражение печеночных клеток;
              риск инфицирования ВИЧ и инфарктов;
              заметное снижение интеллекта.                      
                    </p>
                  </li>
                </ul>
              </div>
              <div class="participants">
                <h2 class="participants__title headline-1">Участники проекта</h2>
                <div class="participants__content">
                  <div class="participant">
                      <div class="participant__img-wrapper">
                        <img class="participant__img" src="https://via.placeholder.com/1140x764" alt=""></img>
                      </div>
                      <p class="participant__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum maximus convallis</p>
                      <a  class="participant__link" href="#" title="participant-title"></a>
                  </div>
                  <div class="participant">
                    <div class="participant__img-wrapper">
                      <img class="participant__img" src="https://via.placeholder.com/1140x764" alt=""></img>
                    </div>
                    <p class="participant__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum maximus convallis</p>
                    <a  class="participant__link" href="#" title="participant-title"></a>
                </div>
                <div class="participant">
                  <div class="participant__img-wrapper">
                    <img class="participant__img" src="https://via.placeholder.com/1140x764" alt=""></img>
                  </div>
                  <p class="participant__title">dipiscing elit. In vestibulum maximus convallis</p>
                  <a  class="participant__link" href="#" title="participant-title"></a>
              </div>
              <div class="participant">
                <div class="participant__img-wrapper">
                  <img class="participant__img" src="https://via.placeholder.com/1140x764" alt=""></img>
                </div>
                <p class="participant__title">Lorem ipsum dolor sit amet, consectetu</p>
                <a  class="participant__link" href="#" title="participant-title"></a>
            </div>

                </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="information-side">
                  <div class="information-block">
                    <h1 class="information-block__title headline-1">Анкеты</h1>
                    <div class="information-block__text">
                      <p><strong>ОРГАНИЗОВАНЫ ОЧНЫЕ КОНСУЛЬТАЦИИ</strong></p>
                      <p>Начиная с марта 2019 года можно получить непосредственную консультацию специалистов РОО «Матери против наркотиков», РЦ «Феникс», МФ «Центр здоровой молодежи» по адресу <strong>г.Минск, ул.Чеботарева, 6а </strong>по предварительной записи.</p>
                      <p>Запись на консультацию производится по телефону <strong>+375 17 311 00 00</strong></p>
                    </div>
                    <div class="information-block__image aspect-ratio">
                      <img  src="https://via.placeholder.com/1140x764"></img>
                    </div>
                </div>
              </div>  
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container footer__container">
        <a class="footer__phone" href="tel:+375173110000">+ 375 17 311 00 00</a>
        <nav class="main-menu footer__menu">
          <ul class="main-menu__links footer__menu__links">
            <li>
              <a class="link" href="https://abuse.pomogut.by/about/"
                ><span>О проекте</span></a
              >
            </li>

            <li>
              <a class="link" href="https://abuse.pomogut.by/to-partners/"
                ><span>Стать партнером</span></a
              >
            </li>
          </ul>
        </nav>
        <a class="footer__logo" href="http://www.unodc.org/" target="_blank"
          ><i class="icon-un"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
