{%extends 'base.html' %}
{% load static %}

{% block side_links %}
  {% for article in articles %}
    <a class="link link--green" href="#{{ article.id }}"><p>{{ article.title }}</p></a>
  {% endfor %}
    <a class="link link--green" href="#local_orgs"><p>Организации</p></a>
{% endblock %}

{% block header_links %}
<header class="header">
      <div class="container">
        <div class="header__content">
          <div class="header__content__nav">
            <nav class="main-menu">
              <ul class="main-menu__links">
                {% for category in up_cats %}
                <li>
                  <a class="link" href="/abuse/{{ category.slug }}"
                    ><span>{{ category.title }}</span></a
                  >
                </li>
                {% endfor %}
              </ul>
            </nav>

            <nav class="main-menu">
              <ul class="main-menu__navigation">
                {% for category in down_cats %}
                <li>
                  <a
                    class="link link--blue"
                    href="/abuse/{{ category.slug }}"
                    ><span>{{ category.title }}</span></a
                  >
                </li>

                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
        <button class="header__button" type="button"><span></span></button>
      </div>
    </header>


{% endblock %}

{% block content %}
<div class="col-lg-6">
  {% for article in articles %}
  <a name="{{ article.id }}"></a>
  <div class="article">

    <h1 class="article__title headline-1">{{ article.title }}</h1>
    {% if article.get_img %}
      <div class="article__image-wrapper aspect-ratio">
          <img src="{{ article.get_img }}" alt=""></img>
      </div>
    {% endif %}
    <div class="article__description">
      <p>{{ article.text|safe }}</p>
    </div>
      <ul class="article__list">
        {{ article.points|safe }}
      </ul>
    <div class="article__buttons article__buttons--center">
      {% for link in article.link.all %}
        <a href="{{ link.link }}" class="btn" target="_blank"><span>{{ link.title }}</span></a>
        <br>
      {% endfor %}
      <a href="#" class="btn" target="_blank"><span>Найти ближайшую организацию</span></a>
      <a href="#" class="btn"><span>Правовая информация</span></a>
    </div>
  <!--    <div class="article__buttons">-->
  <!--      <a href="#" class="btn"><span>Найти ближайшую организацию</span></a>-->
  <!--      <a href="#" class="btn"><span>Правовая информация</span></a>-->
  <!--    </div>-->
  </div>
{% endfor %}
</div>
{% endblock %}
{% block organizations %}
<section class="organizations">
  <a name="local_orgs"></a>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="article article-map">
              <h2 class="article__title headline-1">Организации</h2>
              <div class="article__description">
                <p>
                  Мы собрали организации, которые готовы тебе помочь. Их список
                  будет постоянно расширяться, чтобы ты всегда мог получить
                  ближайшую к тебе помощь.
                </p>
                <p>
                  (Организациям, оказывающим услуги лицам в проблеме наркотиков!
                  Если вы не нашли свою организацию -
                  <a href="#">отправьте заявку на ее добавление.</a>
                  )
                </p>
              </div>
              <div class="article__select organizations__select">
                <div class="organizations__select__item">
                  <p>Выберите вид деятельности</p>
                  <select class="organizations__select__specifications">
                    <option></option>
                    {% for type in all_types %}
                      <option value="{{type.title}}">{{type.title}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="organizations__select__item">
                  <p>Выберите город</p>
                  <select class="organizations__select__cities">
                    <option></option>
                    {% for city in all_cites %}
                      <option value="{{city.title}}">{{city.title}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="organizations__content">
                {% for org in orgs %}
                  <div
                  class="organization-item"
                  data-city="{{org.city.title}}"
                  data-spec="{% for type in org.get_services %}{{ type.org_type.title }}, {% endfor %}"
                >
                  <div class="organization-item__information">
                    <p class="organization-item__title">
                      {{org.title}}
                    </p>
                    <div class="organization-item__adress">
                      <div class="icon-wrapper">
                        <i class="icon-map-marker"></i>
                      </div>
                      <p class="">{{org.adress}}</p>
                    </div>
                    <a class="organization-item__link" href="/abuse/organization/{{org.slug}}"></a>
                  </div>

                  <div class="organization-item__phone">
                    <div class="icon-wrapper">
                      <i class="icon-phone"></i>
                    </div>
                    <a class="link link--green" href="tel:+375172898833"
                      ><p class="">
                        {{org.tel1}}
                      </p></a
                    >
                  </div>
                </div>


                {% endfor %}

<!--                <div-->
<!--                  class="organization-item"-->
<!--                  data-city="Minsk"-->
<!--                  data-spec="Analgin"-->
<!--                >-->
<!--                  <div class="organization-item__information">-->
<!--                    <p class="organization-item__title">-->
<!--                      ГУ «Республиканский научно-практический центр психического-->
<!--                      здоровья», отделение реабилитации-->
<!--                    </p>-->
<!--                    <div class="organization-item__adress">-->
<!--                      <div class="icon-wrapper">-->
<!--                        <i class="icon-map-marker"></i>-->
<!--                      </div>-->
<!--                      <p class="">г. Минск, Долгиновский тракт, 152</p>-->
<!--                    </div>-->
<!--                    <a class="organization-item__link" href="#"></a>-->
<!--                  </div>-->

<!--                  <div class="organization-item__phone">-->
<!--                    <div class="icon-wrapper">-->
<!--                      <i class="icon-phone"></i>-->
<!--                    </div>-->

<!--                    <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
<!--                      ><p class="">-->
<!--                        +375172898833-->
<!--                      </p></a-->
<!--                    >-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div-->
<!--                  class="organization-item"-->
<!--                  data-city="Gomel"-->
<!--                  data-spec="Askorbinka"-->
<!--                >-->
<!--                  <div class="organization-item__information">-->
<!--                    <p class="organization-item__title">-->
<!--                      ГУ «Республиканский научно-практический центр психического-->
<!--                      здоровья», отделение реабилитации-->
<!--                    </p>-->
<!--                    <div class="organization-item__adress">-->
<!--                      <div class="icon-wrapper">-->
<!--                        <i class="icon-map-marker"></i>-->
<!--                      </div>-->
<!--                      <p class="">г. Минск, Долгиновский тракт, 152</p>-->
<!--                    </div>-->
<!--                    <a class="organization-item__link" href="#"></a>-->
<!--                  </div>-->

<!--                  <div class="organization-item__phone">-->
<!--                    <div class="icon-wrapper">-->
<!--                      <i class="icon-phone"></i>-->
<!--                    </div>-->
<!--                    <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
<!--                      ><p class="">-->
<!--                        +375172898833-->
<!--                      </p></a-->
<!--                    >-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div-->
<!--                  class="organization-item"-->
<!--                  data-city="Gomel"-->
<!--                  data-spec="Askorbinka, Analgin"-->
<!--                >-->
<!--                  <div class="organization-item__information">-->
<!--                    <p class="organization-item__title">-->
<!--                      ГУ «Республиканский научно-практический центр психического-->
<!--                      здоровья», отделение реабилитации-->
<!--                    </p>-->
<!--                    <div class="organization-item__adress">-->
<!--                      <div class="icon-wrapper">-->
<!--                        <i class="icon-map-marker"></i>-->
<!--                      </div>-->
<!--                      <p class="">г. Минск, Долгиновский тракт, 152</p>-->
<!--                    </div>-->
<!--                    <a class="organization-item__link" href="#"></a>-->
<!--                  </div>-->

<!--                  <div class="organization-item__phone">-->
<!--                    <div class="icon-wrapper">-->
<!--                      <i class="icon-phone"></i>-->
<!--                    </div>-->
<!--                    <div class="organization-item__phone__content">-->
<!--                      <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
<!--                        ><p class="">-->
<!--                          +375172898833-->
<!--                        </p></a-->
<!--                      >-->
<!--                      <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
<!--                        ><p class="">-->
<!--                          +375172898833-->
<!--                        </p></a-->
<!--                      >-->
<!--                      <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
<!--                        ><p class="">-->
<!--                          +375172898833-->
<!--                        </p></a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="organizations__map"></div>
    </section>

{% endblock %}




  <a name="local_orgs"></a>
  <p><p>Мы собрали организации, которые готовы тебе помочь. Их список будет постоянно расширяться, чтобы ты всегда мог получить ближайшую к тебе помощь.</p><p>
  <em>(Организациям, оказывающим услуги лицам в проблеме наркотиков! Если вы не нашли свою организацию - отправьте заявку на ее добавление.
    <a href="http://pomogut.by/to-partners/">Добавить организацию </a>)</em></p></p>

  <form method="get">
    <input hidden name="is_org_finder" value="1">
    <select name="choosed_city">
      {% for city in all_cites %}
          <option value="{{ city.id }}">{{ city.title }}</option>
      {% endfor %}
    </select>
    <select name="choosed_type">
      {% for type in all_types %}
        <option value="{{ type.id }}">{{ type.title }}</option>
      {% endfor %}
    </select>
    <BUTTON>OJ</BUTTON>
  </form>

<br><br><br>ОРГИ
  {% for org in orgs %}
    Организация <a href="{% url 'org_info' slug=org.slug %}" >{{ org.title }}</a>
    деятельность
    {% for serv in org.get_services %}
      {{ serv.org_type.title }}
      {{ serv.stuff.title }}
      {{ serv.conf.title }}
      {{ serv.payment.title }}
      <br>
    {% endfor %}
    <hr>

  {% endfor %}
  <script src="{% static '/js/jquery-3.5.1.min.js' %}"></script>
  <script>
    $('document').ready(function () {
      console.log('Hello article');
    })
  </script>