{%extends 'base.html' %}

{% block side_links %}
  {% for article in articles %}
    <a class="link link--green" href="#{{ article.id }}"><p>{{ article.title }}</p></a>
  {% endfor %}
    <a class="link link--green" href="#"><p>Организации</p></a>
{% endblock %}

{% block content %}

{% for article in articles %}

<div class="article">
  <a name="{{ article.id }}"></a>
  <h1 class="article__title headline-1">{{ article.title }}</h1>
  <div class="article__image-wrapper aspect-ratio">
      <img src="{{ article.get_img }}" alt=""></img>
  </div>
  <div class="article__description">
    <p>{{ article.text|safe }}</p>
  </div>
    <ul class="article__list">
      {{ article.points|safe }}
    </ul>

  <div class="article__buttons article__buttons--center">
    {% for link in article.link.all %}
      <a href="{{ link.link }}" class="btn" target="_blank"><span>{{ link.title }}</span></a>
    {% endfor %}
    <a href="#" class="btn" target="_blank"><span>Найти ближайшую организацию</span></a>
    <a href="#" class="btn"><span>Правовая информация</span></a>
  </div>
<!--    <div class="article__buttons">-->
<!--      <a href="#" class="btn"><span>Найти ближайшую организацию</span></a>-->
<!--      <a href="#" class="btn"><span>Правовая информация</span></a>-->
<!--    </div>-->
</div>

{% endfor %}
{% endblock %}

{% block organizations %}
  орги
  {% for org in orgs %}
    <select>
      <option>{{ org.title }}</option>
    </select>
    {% for sub in org.my_services %}
      {{ sub.stuff }}
    {% endfor %}
    <br>

  {% endfor %}
{% endblock %}

