{%extends 'base.html' %}
<!--{% load static %}-->

{% block side_bar %}
<div class="col-lg-3">
            <div class="side-menu">
              <div class="side-menu__content">
                <div class="side-menu__links side-menu__links--main">
                  <a class="link link--medium-blue" href="#help"
                    ><p>Первая помощь</p></a
                  >
                  <a
                    class="link link--medium-blue"
                    href="http://pomogut.by/hiv-hepatitis/"
                    ><p>Вич и гепатит</p></a
                  >
                  <a
                    class="link link--medium-blue"
                    href="http://pomogut.by/filling-page"
                    ><p>Срыв</p></a
                  >
                </div>
                <div class="side-menu__links">
                 {% for article in articles %}
                    <a class="link link--green" href="#{{ article.id }}"><p>{{ article.title }}</p></a>
                  {% endfor %}
                    {% if org_widget_flag %}
                      <a class="link link--green" href="#local_orgs"><p>Организации</p></a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>








{% endblock %}

{% block header_links %}
<header class="header">
      <div class="container">
        <div class="header__content">
          <div class="header__content__nav">
            <nav class="main-menu">
              <ul class="main-menu__links">
                {% for category in up_cats %}
                <li>
                  <a class="link" href="/abuse/{{ category.slug }}"
                    ><span>{{ category.title }}</span></a
                  >
                </li>
                {% endfor %}
              </ul>
            </nav>

            <nav class="main-menu">
              <ul class="main-menu__navigation">
                {% for category in down_cats %}
                <li>
                  <a
                    class="link link--blue"
                    href="/abuse/{{ category.slug }}"
                    ><span>{{ category.title }}</span></a
                  >
                </li>

                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
        <button class="header__button" type="button"><span></span></button>
      </div>
    </header>
{% endblock %}

{% block content %}
<div class="col-lg-6">
  {% for article in articles %}
  <a name="{{ article.id }}"></a>
  <div class="article">

    <h1 class="article__title headline-1">{{ article.title }}</h1>
    {% if article.get_img %}
      <div class="article__image-wrapper aspect-ratio">
          <img src="{{ article.get_img }}" alt=""></img>
      </div>
    {% endif %}
    <div class="article__description">
      <p>{{ article.text|safe }}</p>
    </div>
      <ul class="article__list">
        {{ article.points|safe }}
      </ul>
    <div class="article__buttons article__buttons--center">
      {% for link in article.link.all %}
        <a href="{{ link.link }}" class="btn" target="_blank"><span>{{ link.title }}</span></a>
        <br>
      {% endfor %}
      <a href="#" class="btn" target="_blank"><span>Найти ближайшую организацию</span></a>
      <a href="#" class="btn"><span>Правовая информация</span></a>
    </div>
  </div>
{% endfor %}
</div>
<div class="col-lg-3">
            <div class="information-side">
              <div class="information-block">
                <h1 class="information-block__title headline-1">Анкеты</h1>
                <div class="information-block__text">
                  <p><strong>ОРГАНИЗОВАНЫ ОЧНЫЕ КОНСУЛЬТАЦИИ</strong></p>
                  <p>
                    Начиная с марта 2019 года можно получить непосредственную
                    консультацию специалистов РОО «Матери против наркотиков», РЦ
                    «Феникс», МФ «Центр здоровой молодежи» по адресу
                    <strong>г.Минск, ул.Чеботарева, 6а </strong>по
                    предварительной записи.
                  </p>
                  <p>
                    Запись на консультацию производится по телефону
                    <strong>+375 17 311 00 00</strong>
                  </p>
                  {% for q in questions %}
                    <form name="question_form">
                      <input hidden name="answer_for" value="{{q.title}}">
                      {{q.title}}
                      {% for choice in q.get_choices %}
                        <label for="{{choice.id}}">{{choice.title}}</label>
                        <input name="{{q.title}}" id="{{choice.id}}" type="radio" value="{{choice}}">
                      {% endfor %}
                      <br><button type="submit">Голосовать</button>
                      </form>
                  {% endfor %}

                </div>
                <div class="information-block__image aspect-ratio">
                  <img src="https://via.placeholder.com/1140x764" />
                </div>
              </div>
            </div>
          </div>
{% endblock %}

{% block organizations %}
{% if org_widget_flag %}
  <section class="organizations">
    <a name="local_orgs"></a>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="article article-map">
                <h2 class="article__title headline-1">Организации</h2>
                <div class="article__description">
                  <p>
                    Мы собрали организации, которые готовы тебе помочь. Их список
                    будет постоянно расширяться, чтобы ты всегда мог получить
                    ближайшую к тебе помощь.
                  </p>
                  <p>
                    (Организациям, оказывающим услуги лицам в проблеме наркотиков!
                    Если вы не нашли свою организацию -
                    <a href="#">отправьте заявку на ее добавление.</a>
                    )
                  </p>
                </div>
                <div class="article__select organizations__select">
                  <div class="organizations__select__item">
                    <p>Выберите вид деятельности</p>
                    <select class="organizations__select__specifications">
                      <option></option>
                      {% for type in all_types %}
                        <option value="{{type.title}}">{{type.title}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="organizations__select__item">
                    <p>Выберите город</p>
                    <select class="organizations__select__cities">
                      <option></option>
                      {% for city in all_cites %}
                        <option value="{{city.title}}">{{city.title}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="organizations__content">
                  {% for org in orgs %}
                    <div
                    class="organization-item"
                    data-city="{{org.city.title}}"
                    data-spec="{% for type in org.get_services %}{{ type.org_type.title }}, {% endfor %}"
                  >
                    <div class="organization-item__information">
                      <p class="organization-item__title">
                        {{org.title}}
                      </p>
                      <div class="organization-item__adress">
                        <div class="icon-wrapper">
                          <i class="icon-map-marker"></i>
                        </div>
                        <p class="">{{org.adress}}</p>
                      </div>
                      <a class="organization-item__link" href="/abuse/organization/{{org.slug}}"></a>
                    </div>

                    <div class="organization-item__phone">
                      <div class="icon-wrapper">
                        <i class="icon-phone"></i>
                      </div>
                      <a class="link link--green" href="tel:+375172898833"
                        ><p class="">
                          {{org.tel1}}
                        </p></a
                      >
                    </div>
                  </div>


                  {% endfor %}

  <!--                <div-->
  <!--                  class="organization-item"-->
  <!--                  data-city="Minsk"-->
  <!--                  data-spec="Analgin"-->
  <!--                >-->
  <!--                  <div class="organization-item__information">-->
  <!--                    <p class="organization-item__title">-->
  <!--                      ГУ «Республиканский научно-практический центр психического-->
  <!--                      здоровья», отделение реабилитации-->
  <!--                    </p>-->
  <!--                    <div class="organization-item__adress">-->
  <!--                      <div class="icon-wrapper">-->
  <!--                        <i class="icon-map-marker"></i>-->
  <!--                      </div>-->
  <!--                      <p class="">г. Минск, Долгиновский тракт, 152</p>-->
  <!--                    </div>-->
  <!--                    <a class="organization-item__link" href="#"></a>-->
  <!--                  </div>-->

  <!--                  <div class="organization-item__phone">-->
  <!--                    <div class="icon-wrapper">-->
  <!--                      <i class="icon-phone"></i>-->
  <!--                    </div>-->

  <!--                    <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
  <!--                      ><p class="">-->
  <!--                        +375172898833-->
  <!--                      </p></a-->
  <!--                    >-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--                <div-->
  <!--                  class="organization-item"-->
  <!--                  data-city="Gomel"-->
  <!--                  data-spec="Askorbinka"-->
  <!--                >-->
  <!--                  <div class="organization-item__information">-->
  <!--                    <p class="organization-item__title">-->
  <!--                      ГУ «Республиканский научно-практический центр психического-->
  <!--                      здоровья», отделение реабилитации-->
  <!--                    </p>-->
  <!--                    <div class="organization-item__adress">-->
  <!--                      <div class="icon-wrapper">-->
  <!--                        <i class="icon-map-marker"></i>-->
  <!--                      </div>-->
  <!--                      <p class="">г. Минск, Долгиновский тракт, 152</p>-->
  <!--                    </div>-->
  <!--                    <a class="organization-item__link" href="#"></a>-->
  <!--                  </div>-->

  <!--                  <div class="organization-item__phone">-->
  <!--                    <div class="icon-wrapper">-->
  <!--                      <i class="icon-phone"></i>-->
  <!--                    </div>-->
  <!--                    <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
  <!--                      ><p class="">-->
  <!--                        +375172898833-->
  <!--                      </p></a-->
  <!--                    >-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--                <div-->
  <!--                  class="organization-item"-->
  <!--                  data-city="Gomel"-->
  <!--                  data-spec="Askorbinka, Analgin"-->
  <!--                >-->
  <!--                  <div class="organization-item__information">-->
  <!--                    <p class="organization-item__title">-->
  <!--                      ГУ «Республиканский научно-практический центр психического-->
  <!--                      здоровья», отделение реабилитации-->
  <!--                    </p>-->
  <!--                    <div class="organization-item__adress">-->
  <!--                      <div class="icon-wrapper">-->
  <!--                        <i class="icon-map-marker"></i>-->
  <!--                      </div>-->
  <!--                      <p class="">г. Минск, Долгиновский тракт, 152</p>-->
  <!--                    </div>-->
  <!--                    <a class="organization-item__link" href="#"></a>-->
  <!--                  </div>-->

  <!--                  <div class="organization-item__phone">-->
  <!--                    <div class="icon-wrapper">-->
  <!--                      <i class="icon-phone"></i>-->
  <!--                    </div>-->
  <!--                    <div class="organization-item__phone__content">-->
  <!--                      <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
  <!--                        ><p class="">-->
  <!--                          +375172898833-->
  <!--                        </p></a-->
  <!--                      >-->
  <!--                      <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
  <!--                        ><p class="">-->
  <!--                          +375172898833-->
  <!--                        </p></a-->
  <!--                      >-->
  <!--                      <a class="link link&#45;&#45;green" href="tel:+375172898833"-->
  <!--                        ><p class="">-->
  <!--                          +375172898833-->
  <!--                        </p></a-->
  <!--                      >-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="organizations__map"></div>
      </section>
{% endif %}
{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="container footer__container">
      <a class="footer__phone" href="tel:+375173110000">+ 375 17 311 00 00</a>
      <nav class="main-menu footer__menu">
        <ul class="main-menu__links footer__menu__links">
          <li>
            <p>
              <a class="link" href="https://abuse.pomogut.by/about/"
                ><span>О проекте</span></a
              >
            </p>
          </li>

          <li>
            <p>
              <a class="link" href="https://abuse.pomogut.by/to-partners/"
                ><span>Стать партнером</span></a
              >
            </p>
          </li>
        </ul>
      </nav>
      <a class="footer__logo" href="http://www.unodc.org/" target="_blank"
        ><i class="icon-un"></i
      ></a>
    </div>
  </footer>
{% endblock %}