<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <link
      type="text/css"
      href="/static/styles/index.min.css"
      rel="stylesheet"
      media="screen"
    />

    <script type="module" src="/static/scripts/index.js"></script>

    <title>Test page</title>
  </head>

  <body>
    <section class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="quiz">
              <div class="quiz-item">
                <p class="quiz-item__title">
                  Готовы ли Вы пройти бесплатную программу лечения?
                </p>
                <div class="quiz-item__content">
                  <div class="quiz-item__radio">
                    <input
                      type="radio"
                      name="ready"
                      value="1"
                      id="check1"
                    /><label for="check1"><p>Да, готов</p></label>
                  </div>
                  <div class="quiz-item__radio">
                    <input
                      type="radio"
                      name="ready"
                      value="2"
                      id="check2"
                    /><label for="check2"><p>Нет, не готов</p></label>
                  </div>
                  <div class="quiz-item__radio">
                    <input
                      type="radio"
                      name="ready"
                      value="3"
                      id="check3"
                    /><label for="check3"><p>Зависит от условия</p></label>
                  </div>
                  <div class="quiz-item__radio">
                    <input
                      type="radio"
                      name="ready"
                      value="4"
                      id="check4"
                    /><label for="check4"
                      ><p>Зависит от других факторов</p></label
                    >
                  </div>
                </div>
                <button type="button" class="btn quiz-item__button">
                  Голосовать
                </button>

                <button
                  type="button"
                  class="quiz-item__button quiz-item__button--transparent"
                >
                  Показать результаты
                </button>
              </div>

              <div class="quiz-item quiz-item--done">
                <div class="quiz-item__content">
                  <div class="quiz-item__result">
                    <p class="quiz-item__result__title">
                      Да, готов (72%, 129 голосов)
                    </p>
                    <div
                      class="quiz-item__result__progress"
                      style="width: 72%"
                    ></div>
                  </div>
                  <div class="quiz-item__result">
                    <p class="quiz-item__result__title">
                      Зависит от условия (16%, 29 голосов)
                    </p>
                    <div
                      class="quiz-item__result__progress"
                      style="width: 16%"
                    ></div>
                  </div>
                  <div class="quiz-item__result">
                    <p class="quiz-item__result__title">
                      Нет, не готов (9%, 16 голосов)
                    </p>
                    <div
                      class="quiz-item__result__progress"
                      style="width: 9%"
                    ></div>
                  </div>
                  <div class="quiz-item__result">
                    <p class="quiz-item__result__title">
                      Зависит от других факторов (3%, 5 голосов)
                    </p>
                    <div
                      class="quiz-item__result__progress"
                      style="width: 3%"
                    ></div>
                  </div>
                </div>
                <div class="quiz-item__all">
                  <p>Всего проголосовавших:<strong>129</strong></p>
                </div>
                <button
                  type="button"
                  class="quiz-item__button quiz-item__button--transparent"
                >
                  Голосовать
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
