{%extends 'base.html' %}
{% block content %}
Это WTF
<br>
{% for i in blocks %}
<div class="article">
  <h1 class="article__title headline-1">{{ i.title }}</h1>
  <div class="article__image-wrapper aspect-ratio">
    <img src="{{ i.get_img }}" alt=""></img>
  </div>
  <div class="article__description">
    <p>{{ i.text|safe }}</p>
  </div>
    <div class="article__buttons">
      <a href="#" class="btn"><span>Найти ближайшую организацию</span></a>
      <a href="#" class="btn"><span>Правовая информация</span></a>
    </div>
<br><br>
{% endfor %}

{% endblock %}