@import "config/colors";
@import "config/fonts";
@import "config/general";
@import "config/paths";
@import "config/container";

@import "atoms/typography";
@import "atoms/icon";
@import "atoms/btn";

@import "molecules/main-menu";

@import "organisms/header";
@import "organisms/main";
@import "organisms/footer";
@import "organisms/article";
