.article {
  padding-bottom: 20px;
  border-bottom: 1px solid $light-gray;
  margin-top: 30px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  &__title {
    padding: 0 25px;
    text-transform: uppercase;
  }

  &__image-wrapper {
    margin-top: 25px;
    padding-bottom: 382/570 * 100%;
    border-radius: 12px;
    overflow: hidden;
  }

  &__description {
    a {
      border-bottom: 1px solid $gray;
      transition: all 0.5s;
      display: inline;

      &:hover {
        opacity: 0.7;
        border-color: transparent;
      }
    }

    p {
      margin: 20px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

    .btn {
      margin: 0 10px;
      margin-bottom: 10px;
    }

    &--center {
      justify-content: center;
    }

    &--left {
      justify-content: flex-start;
    }
  }

  &__list {
    margin-left: 20px;
    margin-top: 20px;

    li {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background-color: $gray;
        top: 7px;
        left: -14px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
      }
    }
  }

  &__select {
    margin: 40px 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .select2 {
      margin-right: 30px;

      &:last-child() {
        margin-right: 0;
      }
    }
  }
}
